/* Login specific code */

.login-holder{
    margin: auto;
    background: white;
    width: 400px;
    font-size: 16px;
    font-family: 'Karla';
    padding: 50px;
    box-shadow: 0px 0px 15px grey;
    margin-top: 150px;
}

.login-holder .button{
    margin-top: 10px;
}

.login-holder a{
    margin-left: 25px;
}
